@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.4rem; /* Set the font size explicitly */
    font-weight: bold;
    color: gray;
}
